
<!-- Website title and search bar -->
<div class="container">
  <div class="brand-search">
    <h1><%= link_to 'STEAMdeck', root_path, class: "navbar-brand" %></h1>

    <%= form_tag book_search_path, method: "GET", class: "navbar-form" do %>
      <div class="search-bar">
        <%= text_field_tag :q, params[:q], placeholder: "Search by keyword or title", class: "fa fa-search form-control", autocomplete: "off", style: "outline: none;" %>
        <%= submit_tag "Search", class: "btn btn-default" %>
      </div>
    <% end %>    
  </div>
</div>