/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 $primary-color: #33658a;
 $search-button-color: #ff9f1c;

 h1 {
   margin-top: 0;
   margin-bottom: 0;
 }

 .body {
  box-sizing: border-box;
 }

.brand-search {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    align-items: center;
    color: $primary-color;
    font-size: 2.5rem;
  }

  .search-bar {
    display: flex;
    width: 47vw;
    
    .form-control {
      border-color: black;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 45px;
     }

     .form-control:focus {
       box-shadow: none;
     }

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 1.2rem;
      margin-left: -1px;
      width: 10vw;
      border: 1px solid black;
      background-color: $search-button-color;
      color: black;
      float: right;
    }

    .btn:hover {
      background-color: #f1981a;
      // #148996
    }

    .btn:focus {
      box-shadow: none;
    }
  }
}

.navbar {
  background-color: $primary-color;
  height: 50px;

  .container {
    .navbar-collapse {
      .navbar-nav {
        .nav-item {
          #first-link {
            padding-left: 0;
          }
        }
        
        
        #dropdown-link {
          text-decoration: none;
        }
      
        .dropdown-menu {
          display: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border: 1.5px solid $primary-color;
         }
         
         .dropdown:hover {
           .dropdown-menu {
             display: block;
             top: 45px;
           }
        }
      
        .nav-link {
          color: white;
          font-size: 1.1rem;
        }
      
        .nav-link:hover {
          text-decoration: underline;
        }

        .nav-link:active {
          text-decoration: underline;
        }
      }

      .navbar-nav {
        .nav-item {
          #last_link {
            padding-right: 0;
            margin-right: 0;
          }

        }
      }
    }
  }
}

.page-heading {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px 0 50px 0;
}

.footer {
 background-color: #F8F9FA;
 display: flex;
 justify-content: center;
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 10vh;
 
 .copyright {
   display: flex;
   align-self: center;
   margin: 0;
   padding: 0;
 }
}