
.new-book-heading {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form-container {
  display: flex;
  justify-content: center;

  .first-last-names {
    display: flex;
    justify-content: space-between;

    .first-name {
      width: 24vh;
    }

    .last-name {
      width: 24vh;
    }
   
  }

  .field {
    width: 50vh;
  }

  .form-control {
    width: 50vh;
  }

  .form-control:focus {
    box-shadow: none;
  }

}