
.new-book-heading {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form-container {
  display: flex;
  justify-content: center;

  .field {
    width: 50vh;
  }

  .form-control {
    width: 50vh;
  }

  .form-control:focus {
    box-shadow: none;
  }

}