// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$link-color: #1B73F9;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12px;
  
  .card {
    align-items: center;
    padding-top: 20px;

    .card-img-top {
      border: 1px solid black;
      width: 120px;
    }

    .card-img-top:hover {
      cursor: pointer;
    }

    .card-body {
      width: 200px;
      padding: 16px 0;

      .card-title {
        @include flex-center();
        text-align: center;
        text-decoration: none;
        color: black;
      }

      .card-title:hover {
        color: $link-color;
      }

      .shared-by-container {
        display: flex;
        justify-content: center;

        .shared-content {
          text-align: center;

          .shared-text {
            text-decoration: none;
            // color: black;
          }

          .shared-link {
            text-decoration: none;
          }
    
          .shared-link:hover {
            text-decoration: underline;
            color: $link-color;
          }
        }
      }
    

    // .rent-button {

    //   .btn {
    //     background-color: #ff9f1c;
    //     color: black;
    //     border-color: black;
    //     width: 100%;
    //     font-size: 1em;
    //     height: 40px;
    //   }
  
    //   .btn:hover {
    //     background-color: #f1981a;
    //   }

      // .btn:focus {
      //   box-shadow: none;
      // }
    }
  }
}